@font-face {
  font-family: 'summary-notes';
  src: url('./font/summary/SummaryNotes-Regular.eot');
  src: url('./font/summary/SummaryNotes-Regular.eot?#iefix') format('embedded-opentype'),
      url('./font/summary/SummaryNotes-Regular.woff2') format('woff2'),
      url('./font/summary/SummaryNotes-Regular.woff') format('woff'),
      url('./font/summary/SummaryNotes-Regular.ttf') format('truetype'),
      url('./font/summary/SummaryNotes-Regular.svg#SummaryNotes-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body div {
  font-family: summary-notes, sans-serif;
}

.dirt,
.grass,
.hero{
  padding: 15px 15px !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #e6f9ff, #f7fdff, #FFFFFF);
  min-height: calc(100vh - 30px);
  text-align: center;
  justify-content: space-between;
  }

.grass {
  background-image: url(./images/jake-nackos-C2PCa6DhlYE-unsplash.jpg);
  min-height: 200vh;
}

.dirt {
  background-image: url(./images/marta-pawlik-Wr2Ss0fdeWU-unsplash.jpg);
  min-height: 100vh;
}

.projects-nav {
  justify-content: center !important;
  margin-top: 30px;
}

.navbar-toggler {
  border: 3px solid yellow !important;
  padding: 48px 25px !important;
  border-radius: 90px !important;
  box-shadow:
  0px 0px 3.4px rgba(255, 255, 0, 0.348),
  0px 0px 9.3px rgba(255, 255, 0, 0.5),
  0px 0px 22.3px rgba(255, 255, 0, 0.652),
  0px 0px 74px rgba(255, 255, 0, 1);
}

#proj-btn {
  font-size: 30px;
  color: black;
}
.navbar-collapse {
  position: absolute;
  top: 155px;
}

.rays {
  width: 2px;
  border-right: 2px solid black;
  padding-left: 40px;
}

#tourluxe-ray {
  height: 20px;
}

#kuno-ray {
  height: 70px;
}

.sun-spots {
 border-radius: 70px;
 background-color: white;
 border: 2px solid #e6f9ff;
}

#tourluxe-spot {
  padding: 15px 15px;
}

#kuno-spot {
  padding: 30px 0px;
}

#tourluxe-spot:hover,
#kuno-spot:hover {
  box-shadow:
  0px 0px 3.4px rgba(158, 242, 255, 0.348),
  0px 0px 9.3px rgba(158, 242, 255, 0.5),
  0px 0px 22.3px rgba(158, 242, 255, 0.652),
  0px 0px 74px rgba(158, 242, 255, 1);
}

#hero-info {
  margin-top: 120px;
  width: 100%;
  height: 100%;
}

#hero-info h1 {
  font-size: 50px;
}

#hero-info h2 {
  font-size: 35px;
}

.flowers {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 70px;
  margin-bottom: -30px;
  min-height: calc(100vh - 243px) !important;
}

.stems {
  border-right: 2px solid black;
  width: 51%;
  margin-top: -40px;
}

.fa-github {
  color: red;
}

#github-stem {
  height: 10vh;
}

.fa-linkedin {
  color: blue;
}

#linkedin-stem {
  height: 22vh;
}

.fa-envelope {
  color: orange;
}

#envelope-stem {
  height: 16vh;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-envelope:hover {
  color: #a4f22e;
}

.project-head {
  text-align: center;
  font-size: 50px;
  padding-top: 70px;
  padding-bottom: 25px;
  border-bottom: 2px solid white;
}

.project-subhead {
  text-align: center;
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 70px;
}

.thumbnail {
  padding-top: calc(1.1 / 2 * 100%);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-bottom: 50px;
}

.tourluxe-home {
  background-image: url(./images/tourluxe-home.png);
}

.tourluxe-about {
  background-image: url(./images/tourluxe-about-us.png);
}

.tourluxe-bali {
  background-image: url(./images/tourluxe-about-bali.png);
}

.kuno-home {
  background-image: url(https://picsum.photos/500/500);
}

.kuno-about {
  background-image: url(https://picsum.photos/500/499);
}

.kuno-events {
  background-image: url(https://picsum.photos/500/501);
}

#tourluxe-proj,
#kuno-proj {
  border-bottom: 2px solid white;
}

/* medium CSS */

@media (min-width: 768px) {
  .projects-nav {
    justify-content: end !important;
    margin-top: 50px;
    margin-right: 15vw !important;
  }

  .navbar-collapse {
    top: 180px;
    right: 13.5vw;
  }
  
  .rays {
    padding-left: 50px;
  }

  #tourluxe-ray {
    height: 30px;
  }
  
  #kuno-ray {
    height: 100px;
  }

  #hero-info {
    width: 100%;
    margin-top: 0;
  }

  .flowers {
    min-height: calc(100vh - 305px);
  }
}